.night{
    background:black;
    color:white;
}

.chapter-thumbnail {
  margin-top: 10px;   
  white-space : pre;  
  overflow : hidden;  
  max-height: 150px;  
  height : 150px;     
  border-radius: 10px;
}

#mainViewer {
  margin-top: 10px;
  white-space : pre;  
}
